body {
  background: url("images/background.jpg");

    
}
.bar{
  margin-top: 100px;
  background-color: rgba(82, 72, 72, 0.541);
  height: 350px;
  width: 50%;
  margin-left: 400px;
}

h1{
  color: #fff;
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  margin-top: 100px;
}

font-weight-bold {
  

}

.login-form {
  width: 100%;
  max-width:330px;
  padding:15;
  margin: auto;
  height: 100%;
}
h2{
  color: #fff;
  font-family: monospace;
  text-align: center;
}
label{
  color: #fff;
}
input {
  width:100%;
}

.text-bar{
  text-align:center;
  
}
.link{
  text-align: center;
}


